* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

a {
  color: @color-black;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: @color-red;
  }
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
}